@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dce4ef;
  --foreground: #1b1d37;
  --eastBay: #3d4b7b;
  --smaltBlue: #597a91;
  --rockBlue: #a0c0d0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1d37;
    --foreground: #dce4ef;
    --eastBay: #3d4b7b;
    --smaltBlue: #597a91;
    --rockBlue: #a0c0d0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* scroll bar css */

/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* From Uiverse.io by qhns3 */ 
#container {
  width: 100%;
  height: 100%;

  background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
}




